{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="mb-4">Add/Edit Todo</h2>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text">Title</span>
                    <input type="text" name="title" id="id_title" class="form-control" aria-label="Title" value="{{ form.title.value|default_if_none:'' }}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Content</span>
                    <textarea name="content" id="id_content" class="form-control" aria-label="Content" rows="3">{{ form.content.value|default_if_none:'' }}</textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Category</span>
                    <select name="category" id="id_category" class="form-control" aria-label="Category">
                        {% for choice in form.category.field.choices %}
                            <option value="{{ choice.0 }}" {% if form.category.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
